body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 15px;
    align-items: center;
}

.navbar{
    display: flex;
    padding: 15px;
    align-items: center;
    margin-right: 50px;
}
.navbar > p{
    margin-left: 25px;
    color: white;
    font-size: 12.5px;
}
.company{
    font-size: 25px;
    color: white;
    margin-left: 50px;
}

.black-box{
    width: 100vw;
    height: 25vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-know{
    color: yellow;
    font-weight: bolder;
    /* font-size: xx-large; */
    font-size: 45px
}

.teal-container{
    width: 100vw;
    height: 23vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
    /* border: 1px solid black; */
}

.teal-box{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(118, 251, 218);
}
.orange-container{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
}

.orange-box{
    width: 350px;
    height: 150px;
    background-color: rgb(245, 196, 106);
}

.bottom-box{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    /* align-content: space-around; */
    padding: 20px;
}
.text-container{
    width: 250px;
    height: 100px;
    /* border: 1px solid black; */
    text-overflow: clip;
    font-size: 12.5px;
}
.text{
}
.elephant{
    width: 175px;
    height: 100px;
}
